extends layout

block content

  .home-hero

    h1= title
    p Welcome to the CP&amp;L outage reporting tool. From here you can view all reported outages via the dashboard screen, or report a new outage. Our technicians will address outages as soon as possible.

    .text-center
      a(href='/dashboard').btn.btn-lg.btn-primary
        i.glyphicon.glyphicon-list-alt 
        |  Dashboard
      
      a(href='/new').btn.btn-lg.btn-primary
        i.glyphicon.glyphicon-bullhorn 
        |  Report Outage