doctype html
html(lang='en', class={home: home})
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title
    
    // CSS
    block css
      link(rel='stylesheet', href='//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.css')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css')
      link(rel='stylesheet', href='/css/main.css')

    // JavaScript
    block js
      script(src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js')
      script(src='//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.js')

    // Application Insights
    include appInsights.pug

  body

    // Top Navigation
    include navigation.pug

    // Body
    block content