<html xmlns:th="http://www.thymeleaf.org">

<td th:fragment="topnav">

    <nav class="navbar navbar-default">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Outages</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/dashboard}">Dashboard</a></li>
                    <li><a th:href="@{/new}">Report Outage</a></li>
                </ul>
            <!-- Top Navigation Right -->
            <!--  
            <ul class="nav navbar-nav navbar-right" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
			        <li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			                Hi, <span th:text="${T(devCamp.WebApp.Utils.OAuth2TokenUtils).getGivenName()}"></span>!<span class="caret"></span>
			            </a>
			            <ul class="dropdown-menu">
			                <li><a th:href="@{/profile}">Profile</a></li>
			                <li role="separator" class="divider"></li>
							<form th:action="@{/logout}" method="post" id="logout"></form>	                
			                <li><a href="#" onclick="document.getElementById('logout').submit();">Sign out</a></li>
			            </ul>
			        </li>
			</ul>
			<ul class="nav navbar-nav navbar-right" th:unless="${#authorization.expression('hasRole(''ROLE_USER'')')}">
			    <li><a th:href="@{/login}">Login</a></li>
			</ul>
			-->
	        </div>
        </div>
    </nav>
 </td>
 
 </html>